html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}

.mousecangrab {
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.mousegrabbing {
    cursor: pointer;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}


/* ============================= */
/*           top menu            */
/* ============================= */


#siteMenuBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    margin-top: -27px;
}

#siteMenuBar > #menuContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 25px;
    padding-top: 5px;
}

#siteMenuBar ul
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#siteMenuBar li
{
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 5px;
    margin-right: 10px;
}

#siteMenuBar ul:first-child
{
    float: left;
    margin-left: 10px;
}

.ui-widget {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget-header {
    border: 1px solid #e78f08;
    background: #f6a828;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header a {
    color: #ffffff;
}


/* ============================= */
/*          all dialogs          */
/* ============================= */

.ccrdialog {
    padding: 4px;
    position: absolute;
    z-index: 1;
    color: #FFF;
    cursor: default;
    background-color: #006;
    border: 1px white solid;
}

.ccrdialog button {
    width: 30%;
}



/* ============================= */
/*            toolbar            */
/* ============================= */


#toolb {
    left: 0px;
    top: 20%;
    text-align: center;
}

#toolb a {
    display:inline-block;
    color: #FFD;
    margin: 0;
    padding: 0;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
}

#toolb a:active {
    background-color: #128;
}

#toolb a:hover {
    background-color: #777;
}

#toolb ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toolb li {
    margin: 0;
    padding: 0 5px 8px 5px;
}

#toolb li.divider {
    margin: 0;
    padding: 0;
    height: 15px;
}

#toolb img {
    margin: 0;
    width: 32px;
    height: 32px;
}

.toolb_pressed {
    border: 1px white solid;
    background-color: #DD0;
}

/* ============================= */
/*          item editor          */
/* ============================= */

#itemeditor {
    left: 50%;
    top: 20%;
    width: 18em;
}

#itemeditor input {
    width: 11em !important;
}

#itemeditor table {
    width: 100%;;
}

#itemeditor td {
    text-align: right;
}

#itemeditor textarea {
    width: 100%;
    max-width: 100%;
}

.tabbertab_description {

}

/* ============================= */
/*       settings editor         */
/* ============================= */

#ccrsettings {
    left: 20%;
    top: 20%;
    width: 18em;
}

/* ============================= */
/*        utility classes        */
/* ============================= */

.hidden {
    display:none;
}

/* ============================= */
/*             pages             */
/* ============================= */

.page_title {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.5em;
    margin: 2em;
    display:block;
}

.page_content {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1em;
    padding: 2em;
    margin: 2em;
    display:block;
    background: #F9C775;
}

.page_content a {
    color: #339933;
}

.page_content a:hover {
    color: #339933;
}

.page_content a:visited {
    color: #339933;
}

.page_content dt {
    font-weight: bold;
}

/* ============================= */
/*   device specific overrides   */
/* ============================= */
