body {
    margin: 0;
    font-size: 1em;
    background-color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map {
    background: #322;

    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#map:active {
    cursor: pointer;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}


/* ============================= */
/*   device specific overrides   */
/* ============================= */

@media only screen and (min-width: 320px) {
    /* Small screen, non-retina */
    #map {
        width: 310px;
        height: 310px;
    }

}

@media only screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
    /* Small screen, retina, stuff to override above media query */
    #map {
        width: 310px;
        height: 310px;
    }

}

@media only screen and (min-width: 700px) {
    /* Medium screen, non-retina */
    #map {
        width: 690px;
        height: 700px;
    }
}

@media only screen and (min-device-pixel-ratio: 2) and (min-width: 700px) {
    /* Medium screen, retina, stuff to override above media query */
    #map {
        width: 690px;
        height: 700px;
    }

}

@media only screen and (min-width: 1300px) {
    /* Large screen, non-retina */
    #map {
        width: 1200px;
        height: 800px;
    }
}

@media only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px){
    /* Large screen, retina, stuff to override above media query */
    #map {
        width: 1200px;
        height: 800px;
    }
}
